<section id="about">
    <div class="row"><h2 class="text-center">About</h2></div>
    <div class="row" id="about-us">
        <div class="col-1"></div>
        <div class="col-5">
            <img class="img-circle" src="img/charlie.png">
        </div>
        <div class="col-5">
            <h4>CHARLIE CLIFF</h4>
            <p>Charlie is a veteran Software Developer. He currently works with the Moovel Group, which acquired his previous company, RideScout. During his tenure, Charlie has launched all manner of products, from consumer facing mobile ticketing applications, prototype applications for business partners, Machine Learning Recommendation and Prediction Systems, and Bluetooth Beacons to completely automate Bus and Subway stations. Before that, Charlie worked with rapid prototyping engineering teams with the Defense Industry and several academic research teams. </p>
        </div>
        <div class="col-1"></div>
    </div>
</section>
