<!-- Product Template Page -->

<section id="application">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <p>Don't launch alone. If you want your book to succeed, you need a team.</p>
                <h1 class="uppercase">START PLANNING YOUR LAUNCH TODAY.</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <div class="btn-group-vertical" style="text-align: center;">
                    <a rel="ck_modal" href="#ck_modal" class="btn btn-primary uppercase btn-filled btn-jumbo secondary-starter-cta" style="border-radius:0px">APPLY NOW</a>
                </div>
            </div>
        </div>

    </div>
</section>