<section id="contact">
    <div class="container">
        <div class="row"><h2 class="text-center">CONTACT US</h2></div>
        <form action="mailto:info@gate5software.com" >
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <input name="subject" type="text" placeholder="Your Name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <textarea name="body" type="text" placeholder="Your Message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                    <input type="submit"/>
                </div>
            </div>
        </form>
    </div>
</section>
