<div class="footer-container">
    <section class="footer" content="width=device-width">

            <div class="row clearfix">
                <div class="col-6 pull-left footer-details">
                    <a href="/">
                        <img src="/img/logo-transparent.png"/>
                    </a>

                    <!-- <div style="color: #fff"> -->
                        <!-- <a href="/terms" style="font-size: 12px;">Terms Of Use</a>&nbsp;|&nbsp; -->
                        <!-- <a href="/privacy" style="font-size: 12px">Privacy Policy</a> -->
                    <!-- </div> -->
                </div>

                <div class="col-4 pull-right text-right footer-faq">
                    <a href="mailto:info@vettery.io" class="btn btn-primary btn-white">Get in Touch</a>
                </div>
            </div>

    </section>
</div>