    <section id="hero" class="text-center">
            <nav>
                <ul>
                    <li><a href="#sign-up" id="sign-up-link">SIGN UP</a></li>
                    <li><a href="#about" id="about-link">ABOUT US</a></li>
                    <li><a href="#how" id="how-link">HOW DID IT COME ABOUT?</a></li>
                    <li><a href="#what" id="what-link">WHAT IS IT?</a></li>
                    <li><a href="#hero">VETTERY</a></li>
                </ul>
            </nav>
        <div style="clear:both;"></div>
        
        <div class="hero-content center">
            <div class="vertical-center">
                <h1 id="hero-title">vettery.io</h1>
                <h4 id="hero-subtext">We vet your travel companions because the right people can make even the worst places awesome.</h4>
            </div>            
        </div>
    </section>