<div class="button_container">
  <span class="top bar"></span>
  <span class="middle bar"></span>
  <span class="bottom bar"></span>
</div>

<div class="overlay">
  <div class="nav">
    <ul>
      <li><a href="#hero" data-speed="1000" class="menuLink scroll">Home</a></li>
      <li><a href="#products" data-speed="1000" class="menuLink scroll">Products</a></li>
<!--       <li><a href="#about" data-speed="1000" class="menuLink scroll">About</a></li>
 -->      <li><a href="#contact" data-speed="1000" class="menuLink scroll">Contact</a></li>
    </ul>
  </div>
</div>

<section id="hero" class="text-center">
    <div class="hero-content center">
        <div>
            <img src="graphics/logo.png" align="bottom" vertical-align: bottom;>
            <h2 id="hero-title">VETTERY</h2>
            <h4 id="hero-subtext">Live Free. Work Hard.</h4>
        </div>
    </div>
</section>