<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Apply to Vettery">
        <meta name="author" content="vettery.io">
        
        <title>Vettery Application</title>
        
        <link rel="stylesheet" href="./wingcss/dist/wing.min.css" />
        <link rel="stylesheet" href="./styles/style.css" />
    </head>

    <body>
        <iframe src="https://charliecliff.typeform.com/to/UFnOEl" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">Your browser doesn't support iframes</iframe>
    </body>
</html>