<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Excellent Unicorn Games of Fantasy and Whimsy">
        <meta name="author" content="Charles Cliff">
        <title>Excellent Unicorn</title>
        <link rel="stylesheet" href="./wingcss/dist/wing.min.css" />
        <link rel="stylesheet" href="./styles/style.css" />
    </head>
    <body>
        <% include ../partials/main/title.ejs %>
        <% include ../partials/product.ejs %>
        <% include ../partials/contact_form.ejs %>
        <% include ../partials/application.ejs %>
        <script src="./js/min.js"></script>
    </body>
</html>