<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Excellent Unicorn Games of Fantasy and Whimsy">
        <meta name="author" content="Charles Cliff">
        
        <title>vettery</title>
        
        <link rel="stylesheet" href="./wingcss/dist/wing.min.css" />
        <link rel="stylesheet" href="./styles/style.css" />
    </head>

    <body>

        <section id="live">
            <div class="container" style="background-color: #069ACB; margin-right: 0px;
    margin-left: 0px; min-height: 300px;">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h1 class="uppercase">LIVE WITH VETTERY.</h1>
                    </div>
                </div>

            </div>
        </section>

        <section id="work">
            <div class="container" style="background-color: #FFF; margin-right: 0px;
    margin-left: 0px; min-height: 300px;">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h1 class="uppercase">WORK WITH VETTERY.</h1>
                    </div>
                </div>

            </div>
        </section>

        <section id="apply">
            <div class="container" style="background-color: #069ACB; margin-right: 0px;
    margin-left: 0px; min-height: 300px;">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <p>Don't stay grounded for too long.</p>
                        <h1 class="uppercase">START YOUR EXPEDITION TODAY.</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 text-center">
                    <a rel="ck_modal" href="https://charliecliff.typeform.com/to/UFnOEl" class="btn btn-primary uppercase btn-filled btn-jumbo secondary-starter-cta" style="border-radius:0px">APPLY NOW</a>
                </div>
            </div>

            </div>
        </section>

        <script src="./js/min.js"></script>

    </body>
</html>