<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Excellent Unicorn Games of Fantasy and Whimsy">
        <meta name="author" content="Charles Cliff">
        
        <title>vettery</title>
        
        <link rel="stylesheet" href="./wingcss/dist/wing.min.css" />
        <link rel="stylesheet" href="./styles/style.css" />
    </head>

    <body>
        <% include ../partials/main/title.ejs %>
        
        <section id="problem">
            <div class="section-container">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h1 class="uppercase">JOIN THE GLOBAL REVOLUTION</h1>
                        <p>Globablization has given more power to the individual than ever before in human history.</p>
                        <p>Experts and Gurus are able to work from anywhere around the world, forcing today's top Technology Companies to move away from old-fashioned clock-punching.</p>
                        <p>Choose to be a part of a new generation of Digital Artisans who are taking control of their work life.</p>
                        <p>Be a part of a global community.</p>
                    </div>
                </div>

            </div>
        </section>

        <section id="live">
            <div class="section-container">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h1 class="uppercase">LIVE WITH VETTERY</h1>
                        <p>Don't visit the world - Live there.</p>
                    </div>
                </div>

            </div>
        </section>

        <section id="work">
            <div class="section-container">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 text-center">
                        <h1 class="uppercase">WORK WITH VETTERY</h1>
                        <p>Our Elite Program caters to the world's best Digital Artisans.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5 text-center">

                        <p>We select only the top 3% of Applicants</p>
                    </div>
                    <div class="col-5 text-center">

                        <p>We Match Personalities to build the perfect Travel Family</p>
                    </div>
                </div>

            </div>
        </section>

        <section id="apply">
            <div class="section-container">

                <div class="row">
                    <div class="col-12 text-center">
                        <p>Don't stay grounded for too long.</p>
                        <h1 class="uppercase">START YOUR EXPEDITION TODAY.</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <!-- <div class="btn-group-vertical"> -->
                            <a rel="ck_modal" href="/apply" class="btn btn-primary uppercase btn-filled btn-jumbo secondary-starter-cta" style="display: block; width: 300px!important; border-radius:0px: text-align: center;">APPLY NOW</a>

                            <!-- <a rel="ck_modal" href="/apply" class="btn btn-primary uppercase btn-filled btn-jumbo secondary-starter-cta" style="width: 100%; border-radius:0px">REACH OUT</a> -->
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </section>

        <script src="./js/min.js"></script>

    </body>
</html>